
.dropdown-toggle::after{
  display: none !important;
}

.background-color-primary{
  background-color: #8a8a8a !important;
}

.background-color-secondary{
  background-color: #D9D9D9 !important;
}
  
.background-color-third{
  background-color: #F5F5F5 !important;
}

.background-color-quadra{
  background-color: #FE964B !important;
}

.btn-membership {
  background: linear-gradient(270deg, var(--ds-background-accent-purple-bolder, #FE964B) 0%, var(--ds-background-neutral-bold-pressed, #ffa15e) 100%);
  
}

.btn-membership:hover {
  background: linear-gradient(270deg, var(--ds-background-neutral-bold-pressed, #ffa15e) 0%, var(--ds-background-accent-purple-bolder, #FE964B) 100%);
  cursor: pointer;
}
  

.sidebar-active{
  background-color: #8a8a8a !important;
}

.background-hover:hover{
  background-color: #F5F5F5 !important;
  cursor: pointer;
  color: #FE964B !important;
}

.item-hover:hover{
  color: #FE964B !important;
  cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}

.creat-group-image{
    background: url('https://www.herzing.edu/sites/default/files/styles/fp_960_480/public/2020-09/project-management-skills.jpg.webp?itok=rN-QQPq6');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.vh-5{
  height:5vh !important;
}
.vh-83{
  height: 83vh !important;
}
.vh-95{
  height: 95vh !important;
} 
.vh-12{
  height: 12vh !important;
}
.backgroundGroup:hover{
  background-color: #f4f4f4 !important;
}
.vh-35{
  height: 35vh !important;
}



