
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 400px; 
  margin: auto;
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

.dots{
  margin: auto;
  position: absolute;
  top: 25%;
  left: 85%;
}


.breadcrumb {
  margin-bottom: 20px;
  font-size: 14px;
}

.breadcrumb a {
  color: #0052cc;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}


.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}


.img {
  width: 200px;
  height: 120px;
  border-radius: 8px;
  margin-bottom: 10px; 
}

.changeIconButton {
  padding: 8px 16px;
  background-color: #0052cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.changeIconButton:hover {
  background-color: #0065ff;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.required {
  color: red;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #dfe1e6;
  border-radius: 4px;
  background-color: #f4f5f7;
}

.projectLead {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.projectLeadAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* .projectLeadName {
  font-weight: bold;
  color: #172b4d;
} */

.note {
  font-size: 12px;
  color: #6b778c;
}
.projectLeadContainer {
  width: 100%;
  padding: 5px;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
  background-color: #f4f5f7;
}
.successMessage {
  color: green;
  margin-top: 10px;
}

.errorMessage {
  color: red;
  margin-top: 10px;
}

.groupSettingContainer {
  position: relative;
}

.iconMenuContainer {
  position: relative;
  display: inline-block;
}

.iconDots {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  background-color: #f0f4ff;
}

.dropdownMenu {
  transform: translateX(-50%);
  width: 120px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 83%;
}

.menuItem {
  background: none;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.menuItem:hover {
  background-color: #f0f0f0;
}



